
/****************************** Nav */
.nav {
	position:absolute;
	z-index: 2;
	font-weight: bold;
	color: #c79a72;
	margin-top: -1px;
	width: 33%; /* UPDATE THIS TO BE (100% / NUMBER OF HORIZONTAL PAGES) */
	height: 50px;
	display:block;
	text-align: center
	background-color: #fff;
}

.nav .home {
	position: absolute;
	left: 0;
}

.nav .home img {
	float:left;
	display: inline-block;	
	height: 50px;
	padding-left: 150px;
}

.nav .links {
	float: right;
	display: inline-block;
	position:absolute;
	right: 0;
	height: 70px;
	padding-right: 150px;
}

.nav .links ul {
	list-style-type: none;
}

.nav .links li {
	display: inline;
	padding-left: 50px;
}

/****************************** Portfolio Items */

.fp-slides {
	overflow-y: visible !important;
}
.fp-tableCell {
	display: block !important;
	height: 100% !important;
}

.fp-controlArrow.fp-prev {
	background-image: url(../Images/Shared/Arrow_left.png);
	background-size: contain;
	background-repeat: no-repeat;
	border: 0 !important;
	width: 70px !important;
	height: 70px !important;
}
.fp-controlArrow.fp-next {
	background-image: url(../Images/Shared/Arrow_right.png);
	background-size: contain;
	background-repeat: no-repeat;
	border: 0 !important;
	width: 70px !important;
	height: 70px !important;
	padding-right: 15px;
}



/************************* BBQ */
#BBQ .jumbotron {
	background-image: url(../Images/Portfolio/BBQ/HeaderPicture@High.png);
	background-repeat: no-repeat;
	background-color: black;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 100%;
	display:block;
	overflow: hidden;
}

#BBQ .description {
	height: 90%;
}

#BBQ .description #image {
	float:left;
	margin-left: 7.5%;
	background-image: url(../Images/Portfolio/BBQ/ComputerPicture.png);
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center center;
	display:block;
	width: 30%;
	height: 50%;
	max-width: 693px;
	max-height: 856px;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#BBQ .description .textBox {

	float:right;
	width: 35%;
	height: 60%;
	padding-left: 100px;
	padding-right: 7.5%;
	line-height: 40px;
	border-left: 1px #d2d2d2 solid;
	border-bottom: 1px #686868 solid;
	padding-top: 250px;

	position: relative;
}
#coloredBox {
	position:absolute;
	left: -37px;
	line-height: 70px;
	width: 70px;
	text-align: center;

}

#BBQ .description .textBox h2 {
	color: #c79a72;
}

/************************* Impact Report */

#impactreport .description#elementone{
	height: 100%;
	/*max-height: 885px;*/
}

#impactreport .description#elementtwo {
	height: 90%;
}

#impactreport .description .image {
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center center;
	max-width: 1264px;
	max-height: 885px;
	height: 100%;
	width: 50%;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#impactreport .description .textBox {
	width: 35%;
	margin-left: 7.5%;
	margin-right: 7.5%;
	line-height: 40px;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#impactreport .description .textBox h2 {
	color: #c9b59a;
}


#impactreport .description .image#elementone {
	float:left;
	background-image: url(../Images/Portfolio/impactreport/ElementOne.png);
}

#impactreport .description .textBox#elementone {
	float:right;
}

#impactreport .description .image#elementtwo {
	float:right;
	background-image: url(../Images/Portfolio/impactreport/ElementTwo.png);
}

#impactreport .description .textBox#elementtwo {
	float:left;
}




/****************************** Universal */

.footer {
	height: 10%;
	background-color: #e2ccb8;
}

.footer ul {
	padding-top: 50px;
	list-style-type: none;
	width: 351px;
	margin-left: auto;
	margin-right: auto;
}

.footer ul li {
	float:left;
	display: inline;
	margin-right: 40px;
}

html{
	 height:100%;
	 min-height:100%;
	 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 }
body{
	margin: 0;
	height: 100%;
 	min-height:100%;
 	overflow-y: scroll;
overflow-x: hidden;
 }