
/****************************** Nav */
.nav {
	position:absolute;
	z-index: 2;
	font-weight: bold;
	color: #c79a72;
	margin-top: -1px;
	width: 20%; /* UPDATE THIS TO BE (100% / NUMBER OF HORIZONTAL PAGES) */
	height: 50px;
	display:block;
}

.nav .home {
	position: absolute;
	left: 0;
}

.nav .home img {
	float:left;
	display: inline-block;	
	height: 76px;
	padding-left: 150px;
}

.nav .links {
	float: right;
	display: inline-block;
	position:absolute;
	right: 0;
	height: 70px;
	padding-right: 150px;
	letter-spacing: 5px;
	font-size: 25px;
}

.nav .links ul {
	list-style-type: none;
}

.nav .links li {
	display: inline;
	padding-left: 50px;
}

/****************************** Portfolio Items */

.fp-slides {
	overflow-y: visible !important;
}
.fp-tableCell {
	display: block !important;
	height: 100% !important;
}

.fp-controlArrow.fp-prev {
	background-image: url(../Images/Shared/Arrow_left.png);
	background-size: contain;
	background-repeat: no-repeat;
	border: 0 !important;
	width: 70px !important;
	height: 70px !important;
}
.fp-controlArrow.fp-next {
	background-image: url(../Images/Shared/Arrow_right.png);
	background-size: contain;
	background-repeat: no-repeat;
	border: 0 !important;
	width: 70px !important;
	height: 70px !important;
	padding-right: 15px;
}



/************************* BBQ */
#BBQ .jumbotron {
	background-image: url(../Images/Portfolio/BBQ/HeaderPicture.png);
	background-repeat: no-repeat;
	background-color: black;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 100%;
	display:block;
	overflow: hidden;
	text-align: center
}

#BBQ .description {
	height: calc(100% - 200px);
}

#BBQ .description #image {
	float:left;
	margin-left: 7.5%;
	background-image: url(../Images/Portfolio/BBQ/ComputerPicture.png);
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center center;
	display:block;
	width: 30%;
	height: 50%;
	max-width: 693px;
	max-height: 856px;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#BBQ .description .textBox {

	float:right;
	width: 35%;
	height: 60%;
	padding-left: 100px;
	padding-right: 7.5%;
	line-height: 40px;
	border-left: 1px #d2d2d2 solid;
	border-bottom: 1px #686868 solid;
	padding-top: 250px;

	position: relative;
}
#BBQ #coloredBox {
	position:absolute;
	left: -37px;
	line-height: 70px;
	width: 70px;
	text-align: center;

}

#BBQ .description .textBox h2 {
	color: #c79a72;
}




/************************* Impact Report */

#impactreport .description#elementone{
	height: 100%;
	/*max-height: 885px;*/
}

#impactreport .description#elementtwo {
	height: calc(100% - 200px);
}

#impactreport .description .issuuContainer {
	float:right;
	overflow:hidden;
	max-width: 1264px;
	max-height: 885px;
	height: 100%;
	width: 49%;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#impactreport .description #issuuPackage {
	height: 100%;
	width:calc(100% + 125px);
}

#impactreport .description .image {
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center center;
	max-width: 1264px;
	max-height: 885px;
	height: 100%;
	width: 49%;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#impactreport .description .textBox {
	width: 35%;
	margin-left: 7.5%;
	margin-right: 7.5%;
	line-height: 40px;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#impactreport .description .textBox h2 {
	color: #c9b59a;
}


#impactreport .description .image#elementone {
	background-image: url(../Images/Portfolio/impactreport/ElementOne.png);
	float:left;
}

#impactreport .description .textBox#elementone {
	float:right;
}

#impactreport .description .wrapper#elementtwo {
	float:left;
	height: 70%;
	width: 35%;
	margin-left: 7.5%;
	margin-right: 7.5%;
	border: 1px #686868 solid;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#impactreport .description .image#elementtwo {
	float:right;
	background-image: url(../Images/Portfolio/impactreport/ElementTwo.png);
}

#impactreport .description .textBox#elementtwo {
	width: auto;

}

#impactreport #coloredBox {
	position:absolute;
	bottom: -37px;
	line-height: 70px;
	width: 70px;
	text-align: center;

}
/************************* Knowledge hook */

#knowledgehook .nav {
	font-weight: bold;
	color: #c79a72;
	margin-top: -1px;
	width: 20%; /* UPDATE THIS TO BE (100% / NUMBER OF HORIZONTAL PAGES) */
	height: 50px;
	display:block;
	background-color: #fff;
}

#knowledgehook .jumbotron {
	background-image: url(../Images/Portfolio/knowledgehook/HeaderPicture.png);
	background-repeat: no-repeat;
	background-color: black;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 100%;
	display:block;
	overflow: hidden;
	text-align: center;
}

#knowledgehook .description{
	height: calc(100% - 200px);
}

#knowledgehook .description .image {
	float:right;
	background-image: url(../Images/Portfolio/knowledgehook/ElementTwo.png);
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center center;
	max-width: 646px;
	max-height: 798px;
	height: 100%;
	width: 42.5%;

	margin-right: 7.5%;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#knowledgehook .description .textBox {
	float: left;
	width: 35%;
	margin-left: 7.5%;
	margin-right: 7.5%;
	line-height: 40px;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#knowledgehook .description .textBox h2 {
	color: #c9b59a;
}

/************************* Partner Package */

#partnerpackage .description#elementone{
	height: 100%;
	/*max-height: 885px;*/
}

#partnerpackage .description#elementtwo {
	height: calc(100% - 200px);
}

#partnerpackage .description .image {
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center center;
	max-width: 1264px;
	max-height: 885px;
	height: 100%;
	width: 49%;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#partnerpackage .description .issuuContainer {
	float:right;
	overflow:hidden;
	max-width: 1264px;
	max-height: 885px;
	height: 100%;
	width: 49%;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#partnerpackage .description #issuuPackage {
	height: 100%;
	width:calc(100% + 125px);
}



#partnerpackage .description .textBox {
	width: 35%;
	margin-left: 7.5%;
	margin-right: 7.5%;
	line-height: 40px;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#partnerpackage .description .textBox h2 {
	color: #c9b59a;
}


#partnerpackage .description .image#elementone {
	background-image: url(../Images/Portfolio/partnerpackage/ElementOne.png);
	float:left;
}

#partnerpackage .description .textBox#elementone {
	float:right;
}

#partnerpackage .description .wrapper#elementtwo {
	float:left;
	height: 70%;
	width: 35%;
	margin-left: 7.5%;
	margin-right: 7.5%;
	border: 1px #686868 solid;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#partnerpackage .description .textBox#elementtwo {
	width: auto;

}

#partnerpackage #coloredBox {
	position:absolute;
	bottom: -37px;
	line-height: 70px;
	width: 70px;
	text-align: center;

}

/************************* Partners Meeting */
#partnersmeeting .jumbotron {
	background-image: url(../Images/Portfolio/partnersmeeting/HeaderPicture.png);
	background-repeat: no-repeat;
	background-color: black;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 100%;
	display:block;
	overflow: hidden;
	text-align: center
}

#partnersmeeting .description {
	height: calc(100% - 200px);
}

#partnersmeeting .description #image {
	float:left;
	margin-left: 7.5%;
	background-image: url(../Images/Portfolio/partnersmeeting/ElementOne.png);
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center center;
	display:block;
	width: 30%;
	height: 50%;
	max-width: 693px;
	max-height: 856px;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#partnersmeeting .description .textBox {

	float:right;
	width: 35%;
	height: 60%;
	padding-left: 100px;
	padding-right: 7.5%;
	line-height: 40px;
	border-left: 1px #d2d2d2 solid;
	border-bottom: 1px #686868 solid;
	padding-top: 250px;

	position: relative;
}
#partnersmeeting #coloredBox {
	position:absolute;
	left: -37px;
	line-height: 70px;
	width: 70px;
	text-align: center;

}

#partnersmeeting .description .textBox h2 {
	color: #c79a72;
}



/****************************** Universal */

#icon_HEADERARROW {
	position: absolute;
	display: inline-block;
	transform: translateX(-50px);
	bottom: 30px;
	background-image: url(../Images/Shared/HeaderArrow.png);
	background-size: 100px 100px;
	width: 100px;
	height: 100px;
}

.footer {
	height: 200px;
	background-color: #e2ccb8;
}

.footer ul {
	list-style-type: none;
	width: 351px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}


.footer ul li {
	float:left;
	display: inline;
	margin-right: 40px;
}

html{
	 height:100%;
	 min-height:100%;
	 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 }
body{
	margin: 0;
	height: 100%;
 	min-height:100%;
 	overflow-y: scroll;
overflow-x: hidden;
 }